<%- include("partials/header.ejs") -%>
<main>
  <h2>Hello.</h2>
  <form action="/login" method="GET">
    <button class="btn">Login</button>
  </form>
  <form action="/register" method="GET">
    <button class="btn">Register</button>
  </form>
</main>
<%- include("partials/footer.ejs") -%>
